{% extends "layout.html" %}

{% block content %}

{{ app.request.host }}
<table class="table" >
  <thead>
    <th>Id</th>
    <th>Nombre</th>
    <th>Curso</th>
    <th>Nota</th>
  </thead>
  <tbody>
  {% for u in users %}
  <tr>
    <td>{{ u.id }}</td>
    <td>{{ u.firstname ~ " " ~ u.lastname }}</td>
    <td>{{ u.fullname }}</td>
    <td>{{ u.finalgrade }}</td>
  </tr>
  {% endfor %}
  </tbody>

</table>
{% endblock %}
